/**
 * Button colors
 */
$button_bg: #ffffff;
$button_dark_bg: #333333;
$button_attention_bg: #ff7e00;
$button_continue_bg: #58b51c;
$button_warning_bg: #fccc0b;
$button_error_bg: #eb2c2c;
$button_disabled_bg: #cccccc;

$button_border: solid 1px #cccccc;

$button_text: #333333;
$button_dark_text: #ffffff;
$button_attention_text: #ffffff;
$button_continue_text: #ffffff;
$button_warning_text: #ffffff;
$button_error_text: #ffffff;
$button_disabled_text: #ffffff;